# Immutability

In [1]:
name="Sam"

In [3]:
#name[0] = 'P'

In [4]:
name[1:]

'am'

In [6]:
name[1:3]

'am'

In [7]:
last_letters = name[1:]

In [8]:
last_letters

'am'

In [9]:
'P'+last_letters

'Pam'

In [11]:
x = 'Hello World'

In [13]:
x = x +' ,it is beautiful outside'

In [14]:
x

'Hello World ,it is beautiful outside'

In [15]:
letter = 'z'

In [16]:
letter * 10

'zzzzzzzzzz'

In [17]:
2+3

5

In [18]:
'2' + '3'

'23'

In [21]:
x = 'hello world'

In [24]:
x = x.upper()

In [25]:
x

'HELLO WORLD'

In [29]:
x = 'Hello World'

In [30]:
x

'Hello World'

In [31]:
x.lower()

'hello world'

In [32]:
x.split()

['Hello', 'World']

In [33]:
x = 'Hi this is a string'

In [34]:
x

'Hi this is a string'

In [35]:
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [37]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

# Formatting with the .format() method

In [38]:
print ('This is a string {}' .format('INSERTED'))

This is a string INSERTED

In [40]:
print ('The {2} {1} {0}' .format('fox', 'brown', 'quick'))

The quick brown fox

In [41]:
print ('The {0} {0} {0}' .format('fox', 'brown', 'quick'))

The fox fox fox

In [42]:
print ('The {q} {b} {f}' .format(f='fox', b='brown', q='quick'))

The quick brown fox

In [43]:
print ('The {f} {f} {f}' .format(f='fox', b='brown', q='quick'))

The fox fox fox

# Float formatting follows "{value:width.precision f}"

In [48]:
result = 100/777

In [57]:
result = 104.12345

In [58]:
print('the result was {}'.format(result))

the result was 104.12345

In [59]:
print('the result was {r}'.format(r = result))

the result was 104.12345

In [60]:
print('the result was {r:1.3f}'.format(r = result))

the result was 104.123

In [61]:
print('the result was {r:10.3f}'.format(r = result))

the result was    104.123

In [63]:
print('the result was {r:1.5f}'.format(r = result))

the result was 104.12345

In [64]:
name = "Jose"

In [65]:
print('Hello, his name is {}'.format(name))

Hello, his name is Jose

In [66]:
name = 'Lawrence'

In [67]:
print (f'Hello, his name is {name}')

Hello, his name is Lawrence

In [69]:
name = 'Sam'
age = 3

In [70]:
print(f'{name} is {age} years old')

Sam is 3 years old